.wrapper {
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #f7caca;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  text-align: center;
}
.select {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 4px;
}
.delete {
  background: #f7caca;
  border: none;
  cursor: pointer;
}
.addBtn {
  background: #f7caca;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 200px;
  align-self: center;
}
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid #f7caca;
}
.modalHeader { 
  display: flex; 
  justify-content: space-between
 }
.close { cursor: pointer }